.Notification {
    text-align: center;
    font-size: 1rem;
    color: var(--clr-white);
    padding: 0.625rem;
    font-family: var(--ff-primary);
    max-width: 18.75rem;
    animation: setNotification 2400ms ease;

    &_Success {
        background-color: var(--clr-success);
    }

    &_Failure {
        background-color: var(--clr-failure);
    }
}

@keyframes setNotification {
    0% {
      //transform: translateY(-6.25rem);
      transform: translateY(-6vh);
    }
    
    20% {
        //transform: translateY(5rem);
        transform: translateY(40vh);
    }

    80% {
        //transform: translateY(5rem);
        transform: translateY(40vh);
    }

    100% {
        //transform: translateY(-8.75rem);
        transform: translateY(-6vh);
    }
}
